oni/n8n_workflow.json
{
  "name": "LifeTracker Social Sync v2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutes": 15
            }
          ]
        }
      },
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "YOUR_JSON_BIN_URL_HERE",
        "options": {}
      },
      "name": "Fetch Schedule",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        460,
        300
      ],
      "notes": "Replace URL with the one from your App"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst data = items[0].json;\n// Handle standard JSONBin structure (record) or raw\nconst schedule = data.record ? data.record.schedule : (data.schedule || []);\n\nconst postsToSend = [];\nconst updatedSchedule = schedule.map(post => {\n    if (post.status === 'PUBLISHED' && new Date(post.scheduledTime) <= now) {\n        // This post is ready to send\n        postsToSend.push(post);\n        return { ...post, status: 'SENT' };\n    }\n    return post;\n});\n\n// We only continue if there are posts to send\nreturn {\n    json: {\n        postsToSend,\n        updatedFile: { ...data, schedule: updatedSchedule, updatedAt: now.toISOString() },\n        hasUpdates: postsToSend.length > 0\n    }\n};"
      },
      "name": "Check Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasUpdates }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Any Updates?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "YOUR_JSON_BIN_URL_HERE",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "schedule",
              "value": "={{ $json.updatedFile.schedule }}"
            },
            {
              "name": "updatedAt",
              "value": "={{ $json.updatedFile.updatedAt }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Update Remote JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1180,
        500
      ],
      "notes": "Replace URL with same as Fetch"
    },
    {
      "parameters": {
        "fieldToSplitOut": "postsToSend"
      },
      "name": "Split Posts",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1180,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.image }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Has Image?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1400,
        200
      ]
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "convertMode": "toBinary",
        "sourceKey": "image",
        "destinationKey": "data",
        "options": {
          "dataIsBase64": true,
          "mimeType": "image/jpeg"
        }
      },
      "name": "Convert Image",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        1660,
        100
      ]
    },
    {
      "parameters": {
        "chatId": "@YOUR_CHANNEL_ID",
        "text": "={{ $json.content }}",
        "additionalFields": {}
      },
      "name": "Telegram Text",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1660,
        340
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID_IN_N8N",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "@YOUR_CHANNEL_ID",
        "file": "data",
        "additionalFields": {
          "caption": "={{ $json.content }}"
        }
      },
      "name": "Telegram Photo",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1880,
        100
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID_IN_N8N",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [
          {
            "node": "Fetch Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Schedule": {
      "main": [
        [
          {
            "node": "Check Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Logic": {
      "main": [
        [
          {
            "node": "Any Updates?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Updates?": {
      "main": [
        [
          {
            "node": "Split Posts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Remote JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Posts": {
      "main": [
        [
          {
            "node": "Has Image?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Image?": {
      "main": [
        [
          {
            "node": "Convert Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Image": {
      "main": [
        [
          {
            "node": "Telegram Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}